@model Lector
@{
    ViewData["Title"] = "Crear Lector";
    Layout = "~/Views/Shared/Dashboardpack/_Layout.cshtml";
    ViewData["PageTitle"] = Model.IdLector == 0 ? "Crear lector" : "Editar lector";
}


<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-ticket icon-gradient bg-mean-fruit"> </i>
                </div>
                <div>
                    Lectores
                    <div class="page-title-subheading">
                        This is an example dashboard created using build-in
                        elements and components.
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Default box -->

    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Info:</strong> @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }


    <div class="card">
        <div class="card-body row">
            <div class="col-5 text-center d-flex align-items-center justify-content-center">
                <div class="">
                    @* <h2>Admin<strong>LTE</strong></h2> *@
                    @if (Model.IdLector == 0)
                    {
                        <h3><i class="fa fa-plus"></i> Crear Lector </h3>
                    }
                    else
                    {
                        <h3><i class="pe-7s-note btn-icon-wrapper"></i> Editar Lector </h3>
                    }
                    <h2>Biblioteca Municipal</h2>
                    <p class="lead mb-5">
                        123 Testing Ave, Testtown, 9876 NA<br>
                        Phone: +1 234 56789012
                    </p>
                </div>
            </div>
            <div class="col-7">
                <form method="post" asp-action="Crear">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <input type="hidden" name="IdLector" value="@Model.IdLector" />
                        <label asp-for="Nombre">Nombre</label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger fs-6"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Apellidos">Apellidos</label>
                        <input asp-for="Apellidos" class="form-control" />
                        <span asp-validation-for="Apellidos" class="text-danger fs-6"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Email</label>
                        <input type="text" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger fs-6"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefono">Teléfono</label>
                        <input type="text" asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger fs-6"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Direccion">Dirección</label>
                        <textarea asp-for="Direccion" class="form-control" rows=5> </textarea>
                        <span asp-validation-for="Direccion" class="text-danger fs-6"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Salvar">
                        <input class="btn btn-danger" value="Cancelar" onclick="history.go(-1); return false;">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@* @{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
} *@